<nav class="navbar bg-dark bg-body-tertiary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid justify-content-evenly">
      <a class="navbar-brand" href="/home">LOGO</a>
      <div class="navbar-collapse" id="navbarNav">
        <ul class="navbar-nav col-9 justify-content-start">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/formulario">Formulario</a>
          </li>
        </ul>
        <ul class="navbar-nav col-3 justify-content-end">
          <li class="nav-item justify-content-end">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

